<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace - Produkt Detailansicht</title>
    <link rel="stylesheet" href="./style/details.css">
    <link rel="icon" href="./Img/favicon.png">
</head>

<body>

    <div class="headertop">
        <div class="logo">
            <img src="./img/2023-BERBUS_MARKETPLACE_LOGO_WORTMARKE.png">
        </div>
        <div class="signin">
            <div class="useremail">angemeldet als: jose.goette@tecit.de</div>
            <div class="logout">ausloggen</div>
            <div class="notifications">
                <button class="notbutton"><img src="./img/glocke.png"> </button>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="searchbar">
            <input type="text" title placeholder="Was suchst du?">
            <div class="categories">
                <ul class="dropdown">
                    <li class="dropbtn">Kategorie</li>
                    <ul class="dropdown-content">
                        <li><a href="#">Laptop </a></li>
                        <li><a href="#">Telefone</a></li>
                        <li><a href="#">Sonstiges</a></li>
                    </ul>
                </ul>
            </div>
            <button class="button"> suchen </button>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="product-details">
                <img src="./img/test.jpg" alt="Produktbild">
                <h1 class="Informations" id="title">TEST</h1>
                <p class="Informations" id="grossprice">Preis:€</p>
                <p class="Informations" id="netprice">Preis:€</p>
                <p class="Informations" id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    ac
                    ex sit amet
                    velit efficitur aliquam.</p>
                <p class="Informations" id="status">reserviert</p>
                <p class="Informations" id="amount">2</p>
                <p class="Informations" id="Kontaktdaten">daniel.veber@tecit.de</p>
                <button class="contact">Verkäufer Kontaktieren</button>
            </div>
        </form>
    </div>
</body>

</html>