<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Marketplace</title>
</head>
<body>
<div class="container">
    <form>
        <div class="header"><h1>Berbus Marketplace</h1></div>
        <div class="searchbar">
            <input type="text" title placeholder="Was suchst du?"> 
            <button class=""> suchen </button>
        </div>
        <div class="categories">
            <ul>
               <li>Laptop</li>
               <li>Telefon</li>
               <li>Sontiges</li>
            </ul>
        </div>
        <div class="showArticles">
            <ul Class="item-list"></ul>
            <li>
                <a href="">
                     <div class="item-header">
                        <img src="./img/230517_tecit_facebook_1200x1200px.jpg">
                     </div>
                     <div class="item-body">
                        <h3 class="item-title"> 
                            Tec:IT werbeplakat
                        </h3>
                     </div>
                     <div class="item-price">
                        115€
                     </div>
                 </a>
            </li>
            <li>
                <a href="">
                     <div class="item-header">
                        <img src="./img/230517_tecit_facebook_1200x1200px.jpg">
                     </div>
                     <div class="item-body">
                        <h3 class="item-title"> 
                            Tec:IT werbeplakat
                        </h3>
                     </div>
                     <div class="item-price">
                        115€
                     </div>
                 </a>
            </li>
            <li>
                <a href="">
                     <div class="item-header">
                        <img src="./img/230517_tecit_facebook_1200x1200px.jpg">
                     </div>
                     <div class="item-body">
                        <h3 class="item-title"> 
                            Tec:IT werbeplakat
                        </h3>
                     </div>
                     <div class="item-price">
                        115€
                     </div>
                 </a>
            </li>
            <li>
                <a href="">
                     <div class="item-header">
                        <img src="./img/230517_tecit_facebook_1200x1200px.jpg">
                     </div>
                     <div class="item-body">
                        <h3 class="item-title"> 
                            Tec:IT werbeplakat
                        </h3>
                     </div>
                     <div class="item-price">
                        115€
                     </div>
                 </a>
            </li>
        </div>
    </form>
</div>
</body>
</html>