<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Marketplace</title>
</head>
<body>
<div class="container">
    <form>
        <div class="upload">
            <div class="row">
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Titel 
                    </label>
                    <div class="uploadGroup-input">
                        <input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Kategorie 
                    </label>
                    <div class="uploadGroup-input">
                        <select id="categorie" name="Kategorie">
                            <option value="Laptop">Laptop</option>
                            <option value="Telefon">Telefon</option>
                            <option value="Sontiges">Sontiges</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Preis 
                    </label>
                    <div class="uploadGroup-input">
                        <label>Brutto</label>
                        <input> EUR 
                        <br>
                        <label>Netto</label>
                        <input> EUR
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Beschreibung 
                    </label>
                    <div class="uploadGroup-input">
                        <textarea></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Bilder  
                    </label>
                    <div class="uploadGroup-input">
                        <input type="file" id="product-image" name="product_image" accept="image/*" required>
                        <button type="submit">Hochladen</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uploadGroup">
                    <label class="uploadGroup-label">
                        Kontaktdaten(E-Mail)  
                    </label>
                    <div class="uploadGroup-input">
                        <input>
        </div>  
    </form>
</div>
</body>
</html>